.cal {
    background: white;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 1;
    padding: 0;
    font-size: 10px;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}

.cal:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0,0,0,0.2);
    content: '';
}

.cal:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: "";
}

.hed {
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    margin: 15px 0 5px 0;
}

.inBtw {
    background-color: #bbddf5;
}

.nav {
    margin: 0;
}

.dHd {
    text-align: center;
    float: left;
    width: 29.5px;
    color: #bbb;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.mnt {
    max-width: 210px;
    width: auto;
    height: auto;
    display: inline-block;
    padding: 0 10px 10px;
}

.day {
    float: left;
    text-align: center;
    border: none;
    width: 28px;
    height: 28px;
    line-height: 28px;
    color: #555;
    cursor: pointer;
    border-right: 1.5px solid white;
    border-bottom: 1.5px solid white;
    font-size: 14px;
}

.sel:not(.disb) {
    background-color: #50a5e6;
}

.err, .err:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px red;
}

.disb {
    opacity: 0.7;
    color: #888;
    cursor: default;
}

.rChev:before, .lChev:before {
    border-style: solid;
    border-width: 3px 3px 0 0;
    content: "";
    display: inline-block;
    height: 7px;
    width: 7px;
    cursor: pointer;
}

.rChev:before {
    transform: rotate(45deg);
}

.lChev:before {
    transform: rotate(-135deg);
}

.rChev, .lChev {
    position: absolute;
    top: 18px;
}

.rChev {
    right: 25px;
}

.lChev {
    left: 20px;
}